[SddmGreeterTheme]
Name=Windows-modern-dark
Description=Windows-modern-dark theme for KDE Plasma
Author=yeyushengfan258
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0.0
Website=https://github.com/Jeysef/KDE-Windows-Modern
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=jeysef@users.noreply.github.com
Theme-Id=Windows-modern-dark
Theme-API=2.0
