icons-old/
/icons/*
!/icons/windows-modern/
!/icons/windows-modern/**
icons_v2/
untracked/
/~/
plasma/applets/org.kde.windowsmodern.systemtray/build/
/plasma/applets/org.kde.windowsmodern.systemtray/CMakeFiles/
